<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mb-5 pt-5">

    <div class="container">
        <H2>Персональная страница</H2>
    </div>

    <div class="col-3">
        <img th:src="${pathToPhoto}" width="100%">
    </div>

    <div class="col-9">
     <p th:text="${resume.username}">Name</p>
    </div>
    <div class="col-9">
        <p th:text="${resume.surname}">Name</p>
    </div>
    <div class="col-9">
        <p th:text="${resume.speciality}">Name</p>
    </div>
    <div class="col-9">
        <p th:text="${resume.experience}">Name</p>
    </div>
    <div class="col-9">
        <p th:text="${resume.about}">Name</p>
    </div>


</div>
</body>
</html>