<div th:fragment="personal">


    <div class="row mb-5 pt-5">

        <div class="container">
            <H2>Персональная страница</H2>
        </div>

        <form th:method="PATCH" th:object="${userEntity}" th:action="@{/editpersonalpage}"
              enctype="multipart/form-data">


            <div class="col-3">
                <img th:src="${pathToPhoto}" width="100%">
            </div>

            <div class="col-3  mb-3">
                <label for="file">Фото: </label>
                <input type="file" name="file" id="file" class="form-control">
            </div>

            <div class="col-9">
                <!--  <label for="id">ID: </label>-->
                <input type="hidden" th:field="*{id}" id="id" class="form-control" readonly>
                <label for="id">E-mail: </label>
                <input type="text" th:field="*{username}" id="email" class="form-control" readonly>
                <br>
                <label for="name">Имя: </label>
                <input type="text" th:field="*{name}" id="name" class="form-control">
                <br>
                <label for="surname">Фамилия: </label>
                <input type="text" th:field="*{surname}" id="surname" class="form-control">
                <br>
                <label for="education">Образование: </label>
                <select th:field="*{education}" name="education" id="education" class="form-control">
                    <option value="Среднее">Среднее</option>
                    <option value="Средне-техническое">Средне-техническое</option>
                    <option value="Неполное высшее">Неполное высшее</option>
                    <option value="Высшее">Высшее</option>
                </select>
                <br>
                <label for="surname">Специальность: </label>
                <input type="text" th:field="*{speciality}" id="speciality" class="form-control">
                <br>
                <label for="experience">Опыт работы: </label>
                <select th:field="*{experience}" name="experience" id="experience" class="form-control">
                    <option value="Без опыта работы">Без опыта работы</option>
                    <option value="Меньше года">Меньше года</option>
                    <option value="1-3 лет<">1-3 лет</option>
                    <option value="3-5 лет">3-5 лет</option>
                    <option value="Более 5 лет">Более 5 лет</option>
                </select>
                <br>
                <label for="about">Расскажите о себе: </label>
                <textarea th:field="*{about}" id="about" class="form-control" rows="12"></textarea>
                <br>
                <div>
                    <input type="checkbox" th:field="*{publication}" th:value="*{publication}" id="publication"
                           name="publication">
                    <label for="publication"> Опубликовать резюме </label>
                </div>
                <br>
                <input type="submit" value="Сохранить" class="btn btn-success">
                <!-- TODO Внести изменения в стиль, что бы избавиться от <br><br> в конце строк-->
            </div>
        </form>


    </div>
</div>


