<div th:fragment="header">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

            <div class="col-3 pt-1">
                <a class="link-secondary" href="/"> <img src="/favicon/favicon.png"> </a>
            </div>

            <div class="col-2 text-center">
                <a class="blog-header-logo text-dark" href="#"></a>
            </div>


            <div class="col-3 d-flex justify-content-end align-items-center">
                <form class="d-flex" method="get" action="/find">
                    <input class="form-control mr-2" type="search" name="nameOfCompany" placeholder="Поиск"
                           aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">ОК</button>
                </form>

                <div class="col-1 text-center">
                    <a class="blog-header-logo text-dark" href="#"></a>
                </div>

                <div class="col-3 pt-1">
                    <a class="link-secondary" href="/personalpage"> <img src="/log/mainAva.jpg" width="100%">
                    <label>Профиль</label>
                    </a>
                </div>
            </div>
        </div>


        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary" href="/images/companies">Компании</a>
                <a class="p-2 link-secondary" href="/images/companies">Резюме</a>
                <!-- <a class="p-2 link-secondary" href="/vacancies">Вакансии</a>-->
                <a class="p-2 link-secondary" href="/news">Новости</a>
                <a class="p-2 link-secondary" href="/writeme">Напишите нам</a>
                <!-- <a class="p-2 link-secondary" href="/personalpage">Личная страница</a>-->
            </nav>
        </div>

    </header>
</div>