<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Работа вахтой</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

</head>
<body>


<div class="container">
    <div th:insert="~{blocks/header :: header}"></div>
    <div class="accordion-body">
        <div class="container">
            <h2>Добавить вакансию</h2>
        </div>
        <form th:method="POST" action="/admin/vacancies" th:object="${vacancy}">


            <div class="container">
                <label for="company">Выберите компанию:</label>
                <select th:field="*{company}" name="company" id="company" class="form-select">
                    <option th:each="company : ${companies}" th:value="${company.id}"
                            th:text="${company.name}"></option>
                </select>
            </div>
            <br>


            <div class="container">
                <label for="speciality">Название вакансии</label>
                <select th:field="*{speciality}" name="speciality" id="speciality" class="form-select">
                    <option th:each="speciality : ${specialities}" th:value="${speciality.id}"
                            th:text="${speciality.name}"></option>
                </select>
            </div>
            <br>

            <div class="container">
                <label for="text">Описание: </label>
                <textarea th:field="*{description}" rows="10" id="text" class="form-control"></textarea>
            </div>
            <br>
            <div class="container">
                <input type="submit" value="Опубликовать" class="btn btn-success">
            </div>
        </form>


    </div>


    <div th:insert="~{blocks/footer :: footer}"></div>
</div>


</div>

</body>
</html>